<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left1">
                    <div class="left1_img">
                        <img src="/portfolio/box_images/Profile.png" alt="">
                    </div>
                    <div>
                       <strong>Ismoil</strong>
                        <p>Software Engineer</p>
                    </div>
                    <div class="social_icon" style="display:flex; flex-direction: row;">
                        <a href="" class="link">
                            <div class="icon">
                                <img src="/portfolio/box_images/Icons-facebook.svg" alt="">
                            </div>
                        </a>
                        <a href="" class="link">
                            <div class="icon">
                                <img src="/portfolio/box_images/Icons-instagram.svg" alt="">
                            </div>
                        </a>
                        <a href="" class="link">
                            <div class="icon">
                                <img src="/portfolio/box_images/Icons-twitter.svg" alt="">
                            </div>
                        </a>
                        <a href="" class="link">
                            <div class="icon">
                                <img src="/portfolio/box_images/Icons-linkedin.svg" alt="">
                            </div>
                        </a>
                        <a href="" class="link">
                            <div class="icon">
                                <img src="/portfolio/box_images/Icons-Youtube.svg" alt="">
                            </div>
                        </a>
                        <a href="" class="link">
                            <div class="icon">
                                <img src="/portfolio/box_images/Icons-dribbble.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="border"></div>
                <div class="left2">
                    <div class="about">
                        <strong>Age</strong>
                        <span>24</span>
                    </div>
                    <div class="about">
                        <strong>Residence</strong>
                        <span>Incheon</span>
                    </div>
                    <div class="about">
                        <strong>Freelance</strong>
                        <span style="color: aquamarine;">Available</span>
                    </div>
                    <div class="about">
                        <strong>Address</strong>
                        <span>Incheon,South Korea</span>
                    </div>
                </div>
                <div class="border"></div>
                <div class="left3">
                    <div style="margin-bottom: 15px;">
                        <strong>Languages</strong>
                    </div>
                    <div class="lang">
                        <div>
                            <span>Uzbek</span>
                            <span>100%</span>
                        </div>
                        <div class="persentage">
                            <div></div>
                        </div>
                    </div>
                    <div class="lang">
                        <div>
                            <span>English</span>
                            <span>70%</span>
                        </div>
                        <div class="persentage2">
                            
                        </div>
                    </div>
                    <div class="lang">
                        <div>
                            <span>Korean</span>
                            <span>50%</span>
                        </div>
                        <div class="persentage3">
                            
                        </div>
                    </div>
                </div>
                <div class="border"></div>
                <div class="left4" style="margin-bottom: 15px;">
                    <div>
                        <strong>Skills</strong>
                    </div>
                    <div class="skill">
                        <div>
                            <span>HTML</span>
                            <span>90%</span>
                        </div>
                        <div class="persentage">

                        </div>
                    </div>
                    <div class="skill">
                        <div>
                            <span>CSS</span>
                            <span>90%</span>
                        </div>
                        <div class="persentage2">
                            
                        </div>
                    </div>
                    <div class="skill">
                        <div>
                            <span>JS</span>
                            <span>90%</span>
                        </div>
                        <div class="persentage3">
                            
                        </div>
                    </div>
                    <div class="skill">
                        <div>
                            <span>Node</span>
                            <span>90%</span>
                        </div>
                        <div class="persentage4">
                            
                        </div>
                    </div>
                    <div class="skill">
                        <div>
                            <span>EXPRESS</span>
                            <span>80%</span>
                        </div>
                        <div class="persentage5">
                            
                        </div>
                    </div>
                </div>
                <div class="border"></div>
                <div class="left5">
                    <div style="margin-bottom: 20px;"><strong>Extra Skills</strong></div>
                    <div class="extra">
                        <a href="">
                            <img src="/portfolio/box_images/Icons.svg" alt="">
                        </a>
                        <span>Bootstrap, Materialize</span>
                    </div>
                    <div class="extra">
                        <a href="">
                            <img src="/portfolio/box_images/Icons.svg" alt="">
                        </a>
                        <span>Stylus, Sass, Less</span>
                    </div>
                    <div class="extra">
                        <a href="">
                            <img src="/portfolio/box_images/Icons.svg" alt="">
                        </a>
                        <span>Gulp, Webpack, Grunt</span>
                    </div>
                    <div class="extra">
                        <a href="">
                            <img src="/portfolio/box_images/Icons.svg" alt="">
                        </a>
                        <span>GIT Knowledge</span>
                    </div>
                </div>
                <div class="border"></div>
            </div>
            <div class="middle_frame">
                <div class="top">
                    <div class="top_content">
                        <strong> Software Engineer In LG Electronics </strong>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</span>
                        <button>Hire Me -></button>
                        <img class="svg3" src="/portfolio/box_images/Ellipse 12.svg" alt="">
                        <img class="svg4" src="/portfolio/box_images/Ellipse 15.svg" alt="">
                        <img class="svg5" src="/portfolio/box_images/Ellipse 16.svg" alt="">
                        <img class="svg6" src="/portfolio/box_images/Ellipse 12.svg" alt="">
                        <img class="svg7" src="/portfolio/box_images/Polygon 1.svg" alt="">
                    </div>
                    <div class="my_pic">
                        <img src="/portfolio/box_images/Your Image 1.png" alt="">
                        <img  class="svg" src="/portfolio/box_images/Polygon 1.svg" alt="">
                        <img class="svg2" src="/portfolio/box_images/Ellipse 15.svg" alt="">
                    </div>
                </div>
                <div class="service">
                    <strong>My Services</strong>
                    <span>Amet minim mollit non deserunt how can ve ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</span>
                </div>
                <div class="list">
                    <div class="list_content">
                        <div>
                            <img src="/portfolio/box_images/Icons_coding.svg" alt="">
                        </div>
                        <div>
                            <strong>web development</strong>
                            <span>blog, e-commerce</span>
                        </div>
                    </div>
                    <div class="list_content">
                        <div>
                            <img src="/portfolio/box_images/Icons_illustration.svg" alt="">
                        </div>
                        <div>
                            <strong>uI/uX design</strong>
                            <span>Mobile app, website design</span>
                        </div>
                    </div>
                    <div class="list_content">
                        <div>
                            <img src="/portfolio/box_images/Icons_Microphone.svg" alt="">
                        </div>
                        <div>
                            <strong>sound design</strong>
                            <span>Voice Over, Beat Making</span>
                        </div>
                    </div>
                    <div class="list_content">
                        <div>
                            <img src="/portfolio/box_images/Icons_game-development.svg" alt="">
                        </div>
                        <div>
                            <strong>Game Design</strong>
                            <span>Character Design, Props & Objects</span>
                        </div>
                    </div>
                    <div class="list_content">
                        <div>
                            <img src="/portfolio/box_images/Icons_Photographer.svg" alt="">
                        </div>
                        <div>
                            <strong> photography</strong>
                            <span>portrait, product photography</span>
                        </div>
                    </div>
                    <div class="list_content">
                        
                        <div class="adv">
                            <strong>Advertising</strong>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </span>
                        </div>
                        <a href="">
                            <div>Order Now ></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right_frame">
                <div class="right_top">
                    <div><img src="/portfolio/box_images/Icons_Contrast.svg" alt=""></div>
                    <div class="home">
                        <img class="hom1" src="/portfolio/box_images/Pop up.svg" alt="">
                        <div> <img class="hom2" src="/portfolio/box_images/Icons_Home.svg" alt=""></div>
                    </div>
                </div>
                <div class="right_bottom">
                    <div>
                        <img src="/portfolio/box_images/file-code.svg" alt="">
                    </div>
                    <div>
                        <img src="/portfolio/box_images/Icons_cv.svg" alt="">
                    </div>
                    <div>
                        <img src="/portfolio/box_images/Vector.svg" alt="">
                    </div>
                    <div>
                        <img src="/portfolio/box_images/Icons_Blog.svg" alt="">
                    </div>
                    <div>
                        <img src="/portfolio/box_images/Icons_Contact.svg" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>